
old code/VitalsUI.txt
old code/traineduser.txt
old code/atest.py
old code/backtotrainedUser.py
old code/oldtrainedUserInput.py
old code/intertesting.py
old code/tempCodeRunnerFile.py
old code/oldvitalsUI.py
traineduserin.py
__pycache__/babyAndEnviornment.cpython-39.pyc
__pycache__/babyAndEnviornment.cpython-39.pyc
__pycache__/vitalsUI.cpython-39.pyc
old code/tempCodeRunnerFile.python
__pycache__/babyAndEnviornment.cpython-39.pyc
__pycache__/vitalsUI.cpython-39.pyc
__pycache__/babyAndEnviornment.cpython-39.pyc
__pycache__/vitalsUI.cpython-39.pyc
